{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Войти</button>
</form>
<a href="{% url 'password_reset' %}">Восстановить пароль</a> <br>
<a href="{% url 'signup' %}">Зарегистрироваться</a>
{% endblock %}
