{% extends 'base.html' %}

{% block title %}Восстановить пароль?{% endblock %}

{% block content %}
  <h1>Восстановить пароль?</h1>
  <p>Введите почтовый ящик, чтобы восстановить пароль.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Восстановить">
  </form>
</div>
{% endblock %}
