{% extends 'base.html' %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}
<h1>Введите новый пароль!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Изменить пароль">
</form>
{% endblock %}
