{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<h1>Пароль изменен</h1>
<p>Вы можете зайти на страницу <a href="{% url 'login' %}">входа</a>.</p>
{% endblock %}
