{% extends 'base.html' %}

{% block content %}
  <h2>Изменить данные</h2>
  <a href="{% url 'logout' %}">Выйти</a>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {{ form.as_p }}

    <button type="submit">Сохранить</button>
  </form>
{% endblock %}